.article_body {
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  h2 {
    font-size: 22px;
    font-weight: bold;
  }
  h3 {
    font-size: 20px;
    font-weight: bold;
  }
  a {
    color: #69a9ff;
  }
  p {
    font-size: 17px;
    line-height: 175%;
    margin-bottom: 24px;
  }
  pre {
    background-color: #292a33;
    padding: 8px;
    border-radius: 4px;
    margin-left: 8px;
    margin-right: 8px;

    code {
      color: white;
    }
  }
  code {
    background-color: #292a33;
    color: #ff357f;
    padding: 4px 8px;
  }
}
